// =====================================
// LAYOUT RULES
// =====================================

// CSS, by its very nature, is used to lay elements out on the page.
// However, there is a distinction between layouts dictating the major and minor components of a page.
// The minor components such as a callout, or login form, or a navigation item sit within the scope of major components such as a header or footer.

/* Utility classes: Hidden, float lef, float right, etc. */

.hidden { display: none; }
.left { float: left; }
.right { float: right; }

.full-width-wrapper {
	width: 100%;
}

.bg-lg {
	background-color: $dark2;
}

.bg-dg {
	background-color: $dark1;
}

.bg-light {
	background-color: $light;
}

/* Styling #site-title as it uses h1 on home page and span on other pages. */

#site-title {
	font-size: 2em;
	font-weight: bold;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

/* Override to globally-hosted search.css on the /search page */

#searchresults input {
	width: auto;
}

//susy container
.container {
	@include container;
	// @include susy-grid-background;
	position: relative;
	max-width: 68em;
}

// setting box-sizing to what it should be
* {
	@include box-sizing(border-box);
}

// ----------------------------
// Header
// ----------------------------

	.utility-bar {
		font-family: $sans;
		font-size: 1em;
		font-weight: 300;
		background-color: $dark2;
		height: 3.5em;
		@include clearfix;

		.header-email {
			display: none;
			float: left;
			margin: 1em;
			margin-right: 0em;
		}

		.header-tel {
			display: block;
			float: left;
			margin: 1em;
		}

		p {
			display: block;
			float: right;
			margin: 0.75em 1.5em;
			margin-left: 0em;

			.hide-on-mobile {
				display: none;
			}

			i {
				font-size: 2em;
			}
		}
	}

	#logo {
		display: block;

		img {
			display: block;
			margin: 1em auto;
		}
	}

	form[role="search"] {
		margin: 0 auto;
		font-size: 1em;
		max-width: 15em;
		@include clearfix;

		#search-field {
			float: left;
			font-size: 0.85em;
			width: 13.5em;
			color: $lightGrey;
		
			&:focus {
				color: $dark1;
			}
		}

		#search-submit {
			float: right;
			font-weight: 400;
			color: $light;
			background-color: $dark3;
			width: 2.5em;
			padding: 0.4em 0.6em;
			font-family: FontAwesome;
			border: none;
		}
	}

// ----------------------------
// Footer
// ----------------------------

.page-footer {

	h2 {
		font-size: 1.5em;
	}

	ul[role="navigation"]{
		list-style: none;
		padding: 0em 2em;
		text-align: center;

		li {
			font-family: $sans;
			margin: 0.3em;

			a:hover {
				border-bottom: solid 1px $light;
			}
		}
	}

	.social-links {
		font-size: 2.5em;
		width: 4.1em;
		@include horizontal-list;
		margin: 0 auto;
	}

	.email-signup {
		text-align: center;

		label {
			display: block;
			text-align: center;
			font-size: 1em;
			margin-top: 1em;
		}

		input {
			margin: 0 auto;
		}
		
		input[type="submit"]{
			margin-top: 1em;
		}
	}

	p {
		font-family: $sans;
		text-align: center;
		font-size: 0.7em;
		color: $dark3;
		margin: 2em 0;

		a {
			color: $darkAccent;
			font-weight: 600;

			&:hover {
				border-bottom: solid 1px $darkAccent;
			}
		}
	}
}

// ----------------------------
// Module: Blog Area
// ----------------------------

.blogspace {
	background-color: $light;

	h2 {
		color: $dark1;
		padding-top: 0.5em;
	}

	#blog {
		list-style: none;
		padding: 0;
		padding-bottom: 1.5em;
		margin-bottom: 0;
		@include clearfix;

		li {
			width: 100%;
			max-width: 40em;
			margin: 0 auto;
			padding: 1em 2em;
			
			h3 {
				text-align: left;

				a {
					color: $dark1;
				}
			}

			em {
				color: $darkAccent;
			}

			div p{
				color: $dark1;
				font-family: $serif;
				line-height: 1.3;
			}

			.read-more {
				background-color: $dark1;
				padding: 0.6em 1em;
				@include border-radius (0.2em);
			}
		}
	}
}

// ----------------------------
// Module: Promo Blocks
// ----------------------------

.promo-area {
	ul {
		list-style: none;
		padding: 0 2em;
		@include clearfix;

		li {
			width: 100%;
			max-width: 20em;
			margin: 1em auto;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
}

// ----------------------------
// Module: Testimonial
// ----------------------------

.test-area {
	background-color: $light;
	padding: 0 2em;
	@include clearfix;

	h2 {
		color: $dark1;
	}

	p {
		color: $dark1;
		padding: 1.5em;
		width: 100%;
		max-width: 30em;
		margin: 1em auto;

		.test-username {
			float: right;
			color: $darkAccent;
		}
	}

	h5 {
		color: $dark1;
		font-family: $serif;
		margin-bottom: 1em;
	}
	
	.prod-caption {
		border: none !important; //override styles in module (only for testimonials)
		margin-bottom: 0 !important; 
	}

	.prod-name {
		color: $darkAccent !important; //override styles in module (only for this one place)
	}

	.prod-price {
		color: $dark1 !important; //override styles in module (only for this one place)
	}
}