
// Responsive Carousel Minified
!function(a){var b,c="carousel",d="data-transition",e=c+"-item",f=c+"-active",g=c+"-item-prev",h=c+"-item-next",i=c+"-in",j=c+"-out",k=c+"-nav",l=function(){for(var a,b="webkit Moz O Ms".split(" "),c=!1;b.length;)if(a=b.shift()+"Transition",void 0!==a in document.documentElement.style&&a in document.documentElement.style!=!1){c=!0;break}return c}(),m={_create:function(){a(this).trigger("beforecreate."+c)[c]("_init")[c]("_addNextPrev").trigger("create."+c)},_init:function(){var b=a(this).attr(d);b||(l=!1),a(this).addClass(c+" "+(b?c+"-"+b:"")+" ").children().addClass(e).first().addClass(f),a(this)[c]("_addNextPrevClasses")},_addNextPrevClasses:function(){var b=a(this).find("."+e),c=b.filter("."+f),d=c.next("."+e),i=c.prev("."+e);d.length||(d=b.first().not("."+f)),i.length||(i=b.last().not("."+f)),b.removeClass(g+" "+h),i.addClass(g),d.addClass(h)},next:function(){a(this)[c]("goTo","+1")},prev:function(){a(this)[c]("goTo","-1")},goTo:function(b){var g=a(this),h=g.attr(d),k=" "+c+"-"+h+"-reverse";a(this).find("."+e).removeClass([j,i,k].join(" "));var m=a(this).find("."+f),n=m.index(),o=(0>n?0:n)+1,p="number"==typeof b?b:o+parseFloat(b),q=p-1,r=a(this).find("."+e),s=a.Event("beforegoto."+c),t=r.eq(q),u="string"==typeof b&&!parseFloat(b)||p>o?"":k;g.trigger(s,{$from:m,$to:t,direction:p>o?"forward":"backward"}),s.isDefaultPrevented()||(t.length||(t=a(this).find("."+e)[u.length?"last":"first"]()),l?g[c]("_transitionStart",m,t,u):(t.addClass(f),g[c]("_transitionEnd",m,t,u)),g.trigger("goto."+c,[t,q]))},update:function(){return a(this).children().not("."+k).addClass(e),a(this).trigger("update."+c)},_transitionStart:function(b,d,e){var f=a(this);d.one(navigator.userAgent.indexOf("AppleWebKit")>-1?"webkitTransitionEnd":"transitionend otransitionend",function(){f[c]("_transitionEnd",b,d,e)}),a(this).addClass(e),b.addClass(j),d.addClass(i)},_transitionEnd:function(b,d,e){a(this).removeClass(e),b.removeClass(j+" "+f),d.removeClass(i).addClass(f),a(this)[c]("_addNextPrevClasses")},_bindEventListeners:function(){var b=a(this).bind("click",function(d){var e=a(d.target).closest("a[href='#next'],a[href='#prev']");e.length&&(b[c](e.is("[href='#next']")?"next":"prev"),d.preventDefault())});return this},_addNextPrev:function(){var b,d=a(this);return b=a("<nav class='"+k+"'>"+"<a href='#prev' class='prev' aria-hidden='true' title='Previous'>&#xf053;</a>"+"<a href='#next' class='next' aria-hidden='true' title='Next'>&#xf054;</a>"+"</nav>"),d.trigger("beforecreatenav."+c,{$nav:b}),d.append(b)[c]("_bindEventListeners")},destroy:function(){}};a.fn[c]=function(b,d,e,f){return this.each(function(){return b&&"string"==typeof b?a.fn[c].prototype[b].call(this,d,e,f):a(this).data(c+"data")?a(this):(a(this).data(c+"active",!0),a.fn[c].prototype._create.call(this),void 0)})},b=a.extend(a.fn[c].prototype,m)}(jQuery),function(a){var b="carousel",c="."+b,d=b+"-no-transition",e=/iPhone|iPad|iPod/.test(navigator.platform)&&navigator.userAgent.indexOf("AppleWebKit")>-1,f={_dragBehavior:function(){var f,g=(a(this),{}),h=function(b){var d=b.touches||b.originalEvent.touches,e=a(b.target).closest(c);"touchstart"===b.type&&(f={x:d[0].pageX,y:d[0].pageY}),d[0]&&d[0].pageX&&(g.touches=d,g.deltaX=d[0].pageX-f.x,g.deltaY=d[0].pageY-f.y,g.w=e.width(),g.h=e.height(),g.xPercent=g.deltaX/g.w,g.yPercent=g.deltaY/g.h,g.srcEvent=b)},i=function(d){h(d),1===g.touches.length&&a(d.target).closest(c).trigger(b+".drag"+d.type.split("touch")[1],g)};a(this).bind("touchstart",function(b){a(this).addClass(d),i(b)}).bind("touchmove",function(a){h(a),i(a),e||(a.preventDefault(),window.scrollBy(0,-g.deltaY))}).bind("touchend",function(b){a(this).removeClass(d),i(b)})}};a.extend(a.fn[b].prototype,f),a(document).on("create."+b,c,function(){a(this)[b]("_dragBehavior")})}(jQuery),function(a){var b="carousel",c="."+b,d=b+"-active",e=b+"-item",f=function(a){return Math.abs(a)>4},g=function(a,c){var d=a.find("."+b+"-active"),f=d.prevAll().length+1,g=0>c,h=f+(g?1:-1),i=a.find("."+e).eq(h-1);return i.length||(i=a.find("."+e)[g?"first":"last"]()),[d,i,h-1]};a(document).on(b+".dragmove",c,function(b,c){if(f(c.deltaX)){var d=g(a(this),c.deltaX);d[0].css("left",c.deltaX+"px"),d[1].css("left",c.deltaX<0?c.w+c.deltaX+"px":-c.w+c.deltaX+"px")}}).on(b+".dragend",c,function(c,e){if(f(e.deltaX)){var h=g(a(this),e.deltaX),i=Math.abs(e.deltaX)>45;a(this).one(navigator.userAgent.indexOf("AppleWebKit")?"webkitTransitionEnd":"transitionEnd",function(){h[0].add(h[1]).css("left",""),a(this).trigger("goto."+b,[h[1],h[2]])}),i?(h[0].removeClass(d).css("left",e.deltaX>0?e.w+"px":-e.w+"px"),h[1].addClass(d).css("left",0)):(h[0].css("left",0),h[1].css("left",e.deltaX>0?-e.w+"px":e.w+"px"))}})}(jQuery),function(a){var b="carousel",c="."+b+"[data-paginate]",d=b+"-pagination",e=b+"-active-page",f={_createPagination:function(){var c,e,f,g=a(this).find("."+b+"-nav"),h=a(this).find("."+b+"-item"),i=a("<ol class='"+d+"'></ol>");g.find("."+d).remove(),h.each(function(b){c=b+1,e=a(this).attr("data-thumb"),f=c,e&&(f="<img src='"+e+"' alt=''>"),i.append("<li><a href='#"+c+"' title='Go to slide "+c+"'>"+f+"</a>")}),e&&i.addClass(b+"-nav-thumbs"),g.addClass(b+"-nav-paginated").find("a").first().after(i)},_bindPaginationEvents:function(){a(this).bind("click",function(c){var e=a(c.target);"IMG"===c.target.nodeName&&(e=e.parent()),e=e.closest("a");var f=e.attr("href");e.closest("."+d).length&&f&&(a(this)[b]("goTo",parseFloat(f.split("#")[1])),c.preventDefault())}).bind("goto."+b,function(b,c){var f=c?a(c).index():0;a(this).find("ol."+d+" li").removeClass(e).eq(f).addClass(e)}).trigger("goto."+b)}};a.extend(a.fn[b].prototype,f),a(document).on("create."+b,c,function(){a(this)[b]("_createPagination")[b]("_bindPaginationEvents")}).on("update."+b,c,function(){a(this)[b]("_createPagination")})}(jQuery),function(a){a(function(){a(".carousel").carousel()})}(jQuery);

// Lightbox2.js Minified
(function(){var b,d,c;b=jQuery;c=(function(){function b(){this.fadeDuration=500;this.fitImagesInViewport=true;this.resizeDuration=700;this.showImageNumberLabel=true;this.wrapAround=false}b.prototype.albumLabel=function(b,c){return"Image "+b+" of "+c};return b})();d=(function(){function c(b){this.options=b;this.album=[];this.currentImageIndex=void 0;this.init()}c.prototype.init=function(){this.enable();return this.build()};c.prototype.enable=function(){var c=this;return b('body').on('click','a[rel^=lightbox], area[rel^=lightbox], a[data-lightbox], area[data-lightbox]',function(d){c.start(b(d.currentTarget));return false})};c.prototype.build=function(){var c=this;b("<div id='lightboxOverlay' class='lightboxOverlay'></div><div id='lightbox' class='lightbox'><div class='lb-outerContainer'><div class='lb-container'><img class='lb-image' src='' /><div class='lb-nav'><a class='lb-prev' href='' ></a><a class='lb-next' href='' ></a></div><div class='lb-loader'><a class='lb-cancel'></a></div></div></div><div class='lb-dataContainer'><div class='lb-data'><div class='lb-details'><span class='lb-caption'></span><span class='lb-number'></span></div><div class='lb-closeContainer'><a class='lb-close'></a></div></div></div></div>").appendTo(b('body'));this.$lightbox=b('#lightbox');this.$overlay=b('#lightboxOverlay');this.$outerContainer=this.$lightbox.find('.lb-outerContainer');this.$container=this.$lightbox.find('.lb-container');this.containerTopPadding=parseInt(this.$container.css('padding-top'),10);this.containerRightPadding=parseInt(this.$container.css('padding-right'),10);this.containerBottomPadding=parseInt(this.$container.css('padding-bottom'),10);this.containerLeftPadding=parseInt(this.$container.css('padding-left'),10);this.$overlay.hide().on('click',function(){c.end();return false});this.$lightbox.hide().on('click',function(d){if(b(d.target).attr('id')==='lightbox'){c.end()}return false});this.$outerContainer.on('click',function(d){if(b(d.target).attr('id')==='lightbox'){c.end()}return false});this.$lightbox.find('.lb-prev').on('click',function(){if(c.currentImageIndex===0){c.changeImage(c.album.length-1)}else{c.changeImage(c.currentImageIndex-1)}return false});this.$lightbox.find('.lb-next').on('click',function(){if(c.currentImageIndex===c.album.length-1){c.changeImage(0)}else{c.changeImage(c.currentImageIndex+1)}return false});return this.$lightbox.find('.lb-loader, .lb-close').on('click',function(){c.end();return false})};c.prototype.start=function(c){var f,e,j,d,g,n,o,k,l,m,p,h,i;b(window).on("resize",this.sizeOverlay);b('select, object, embed').css({visibility:"hidden"});this.$overlay.width(b(document).width()).height(b(document).height()).fadeIn(this.options.fadeDuration);this.album=[];g=0;j=c.attr('data-lightbox');if(j){h=b(c.prop("tagName")+'[data-lightbox="'+j+'"]');for(d=k=0,m=h.length;k<m;d=++k){e=h[d];this.album.push({link:b(e).attr('href'),title:b(e).attr('title')});if(b(e).attr('href')===c.attr('href')){g=d}}}else{if(c.attr('rel')==='lightbox'){this.album.push({link:c.attr('href'),title:c.attr('title')})}else{i=b(c.prop("tagName")+'[rel="'+c.attr('rel')+'"]');for(d=l=0,p=i.length;l<p;d=++l){e=i[d];this.album.push({link:b(e).attr('href'),title:b(e).attr('title')});if(b(e).attr('href')===c.attr('href')){g=d}}}}f=b(window);o=f.scrollTop()+f.height()/10;n=f.scrollLeft();this.$lightbox.css({top:o+'px',left:n+'px'}).fadeIn(this.options.fadeDuration);this.changeImage(g)};c.prototype.changeImage=function(f){var d,c,e=this;this.disableKeyboardNav();d=this.$lightbox.find('.lb-image');this.sizeOverlay();this.$overlay.fadeIn(this.options.fadeDuration);b('.lb-loader').fadeIn('slow');this.$lightbox.find('.lb-image, .lb-nav, .lb-prev, .lb-next, .lb-dataContainer, .lb-numbers, .lb-caption').hide();this.$outerContainer.addClass('animating');c=new Image();c.onload=function(){var m,g,h,i,j,k,l;d.attr('src',e.album[f].link);m=b(c);d.width(c.width);d.height(c.height);if(e.options.fitImagesInViewport){l=b(window).width();k=b(window).height();j=l-e.containerLeftPadding-e.containerRightPadding-20;i=k-e.containerTopPadding-e.containerBottomPadding-110;if((c.width>j)||(c.height>i)){if((c.width/j)>(c.height/i)){h=j;g=parseInt(c.height/(c.width/h),10);d.width(h);d.height(g)}else{g=i;h=parseInt(c.width/(c.height/g),10);d.width(h);d.height(g)}}}return e.sizeContainer(d.width(),d.height())};c.src=this.album[f].link;this.currentImageIndex=f};c.prototype.sizeOverlay=function(){return b('#lightboxOverlay').width(b(document).width()).height(b(document).height())};c.prototype.sizeContainer=function(f,g){var b,d,e,h,c=this;h=this.$outerContainer.outerWidth();e=this.$outerContainer.outerHeight();d=f+this.containerLeftPadding+this.containerRightPadding;b=g+this.containerTopPadding+this.containerBottomPadding;this.$outerContainer.animate({width:d,height:b},this.options.resizeDuration,'swing');setTimeout(function(){c.$lightbox.find('.lb-dataContainer').width(d);c.$lightbox.find('.lb-prevLink').height(b);c.$lightbox.find('.lb-nextLink').height(b);c.showImage()},this.options.resizeDuration)};c.prototype.showImage=function(){this.$lightbox.find('.lb-loader').hide();this.$lightbox.find('.lb-image').fadeIn('slow');this.updateNav();this.updateDetails();this.preloadNeighboringImages();this.enableKeyboardNav()};c.prototype.updateNav=function(){this.$lightbox.find('.lb-nav').show();if(this.album.length>1){if(this.options.wrapAround){this.$lightbox.find('.lb-prev, .lb-next').show()}else{if(this.currentImageIndex>0){this.$lightbox.find('.lb-prev').show()}if(this.currentImageIndex<this.album.length-1){this.$lightbox.find('.lb-next').show()}}}};c.prototype.updateDetails=function(){var b=this;if(typeof this.album[this.currentImageIndex].title!=='undefined'&&this.album[this.currentImageIndex].title!==""){this.$lightbox.find('.lb-caption').html(this.album[this.currentImageIndex].title).fadeIn('fast')}if(this.album.length>1&&this.options.showImageNumberLabel){this.$lightbox.find('.lb-number').text(this.options.albumLabel(this.currentImageIndex+1,this.album.length)).fadeIn('fast')}else{this.$lightbox.find('.lb-number').hide()}this.$outerContainer.removeClass('animating');this.$lightbox.find('.lb-dataContainer').fadeIn(this.resizeDuration,function(){return b.sizeOverlay()})};c.prototype.preloadNeighboringImages=function(){var c,b;if(this.album.length>this.currentImageIndex+1){c=new Image();c.src=this.album[this.currentImageIndex+1].link}if(this.currentImageIndex>0){b=new Image();b.src=this.album[this.currentImageIndex-1].link}};c.prototype.enableKeyboardNav=function(){b(document).on('keyup.keyboard',b.proxy(this.keyboardAction,this))};c.prototype.disableKeyboardNav=function(){b(document).off('.keyboard')};c.prototype.keyboardAction=function(g){var d,e,f,c,b;d=27;e=37;f=39;b=g.keyCode;c=String.fromCharCode(b).toLowerCase();if(b===d||c.match(/x|o|c/)){this.end()}else if(c==='p'||b===e){if(this.currentImageIndex!==0){this.changeImage(this.currentImageIndex-1)}}else if(c==='n'||b===f){if(this.currentImageIndex!==this.album.length-1){this.changeImage(this.currentImageIndex+1)}}};c.prototype.end=function(){this.disableKeyboardNav();b(window).off("resize",this.sizeOverlay);this.$lightbox.fadeOut(this.options.fadeDuration);this.$overlay.fadeOut(this.options.fadeDuration);return b('select, object, embed').css({visibility:"visible"})};return c})();b(function(){var e,b;b=new c();return e=new d(b)})}).call(this);

/*!
* Fancyform - jQuery Plugin
* Simple and fancy form styling alternative
*
* Examples and documentation at: https://github.com/Lutrasoft/Fancyform
*
* Copyright (c) 2010-2013 - Lutrasoft
*
* Version: 1.4.2
* Requires: jQuery v1.6.1+
*
* Dual licensed under the MIT and GPL licenses:
*   http://www.opensource.org/licenses/mit-license.php
*   http://www.gnu.org/licenses/gpl.html
*/
(function(c){c.simpleEllipsis=function(d,f){return d.length<f?d:d.substring(0,f)+"..."};var b=!!("ontouchstart" in window),a=function(){var g=c(this),f=g.data("options")||g.data("settings"),d;for(d in f){g.parent().removeClass(d)}};c.fn.extend({caret:function(k,d){var h=this[0],j=this.val(),g,f,i;if(h){if(typeof k=="undefined"){if(h.selectionStart){k=h.selectionStart;d=h.selectionEnd}else{if(document.selection){this.focus();g=document.selection.createRange();if(g==null){return{start:0,end:e.value.length,length:0}}f=h.createTextRange();i=f.duplicate();f.moveToBookmark(g.getBookmark());i.setEndPoint("EndToStart",f);return{start:i.text.length-(i.text.split("\n").length+1)+2,end:i.text.length+g.text.length-(i.text.split("\n").length+1)+2,length:g.text.length,text:g.text}}}}else{if(typeof d!="number"){d=-1}if(typeof k!="number"||k<0){k=0}if(d>j.length){d=j.length}d=Math.max(k,d);k=Math.min(k,d);h.focus();if(h.selectionStart){h.selectionStart=k;h.selectionEnd=d}else{if(document.selection){g=h.createTextRange();g.collapse(true);g.moveStart("character",k);g.moveEnd("character",d-k);g.select()}}}return{start:k,end:d}}},transformCheckbox:function(f){var g={base:"image",checked:"",unchecked:"",disabledChecked:"",disabledUnchecked:"",tristateHalfChecked:"",changeHandler:function(i){},trigger:"self",tristate:0},d=c.extend(g,f),h={setImage:function(){var i=c(this),j=i.data("settings"),k;if(i.is(":disabled")){k=i.is(":checked")?"disabledChecked":"disabledUnchecked"}else{if(i.hasClass("half-checked")){k="tristateHalfChecked"}else{if(i.is(":checked")){k="checked"}else{k="unchecked"}}}if(j.base=="image"){i.next().attr("src",j[k])}else{a.call(this);i.parent().addClass(k)}},setProp:function(k,j,i){c(k).prop(j,i).change();h.setImage.call(k);if(j=="checked"&&!c(k).data("settings").type){c("[name='"+c(k).attr("name")+"']").each(function(){h.setImage.call(this)})}},uncheck:function(){h.setProp(this,"checked",0)},check:function(){h.setProp(this,"checked",1)},disable:function(){h.setProp(this,"disabled",1)},enable:function(){h.setProp(this,"disabled",0)},imageClick:function(){var j=c(this),i=j.data("settings");if(!j.is(":disabled")){if(j.is(":checked")&&i.type){h.uncheck.call(j);d.changeHandler.call(j,1)}else{h.check.call(j);d.changeHandler.call(j,0)}h.handleTriState.call(j)}},handleTriState:function(){var j=c(this),m=j.data("settings"),i=j.parent(),l=i.find("ul"),k=i.closest("li");if(m.tristate){if(j.hasClass("half-checked")||j.is(":checked")){j.removeClass("half-checked");h.check.call(j);l.find("input:checkbox").removeClass("half-checked").each(h.check)}else{if(j.not(":checked")){j.removeClass("half-checked");l.find("input:checkbox").each(h.uncheck)}}l.find("input:checkbox").each(h.setImage);if(j.parent().parent().parent().is("li")){h.handleTriStateLevel.call(j.parent().parent().parent())}j.trigger("transformCheckbox.tristate")}},handleTriStateLevel:function(m){var n=c(this),j=n.find("input:checkbox").first(),k=n.find("ul"),i=k.find("input:checkbox"),l=i.filter(":checked");if(m!==false||i.length){j.removeClass("half-checked");if(i.length==l.length){h.check.call(j)}else{if(l.length){j.addClass("half-checked")}else{h.uncheck.call(j)}}h.setImage.call(j);if(m!==false&&n.parent().parent().is("li")){h.handleTriStateLevel.call(n.parent().parent())}}}};return this.each(function(){if(typeof f=="string"){h[f].call(this)}else{var i=c(this);if(!i.data("tf.init")){i.data("tf.init",1).data("settings",d);d.type=i.is("[type=checkbox]");i.hide();if(d.base=="image"){i.after("<img />")}else{i.wrap("<span class='trans-element-"+(d.type?"checkbox":"radio")+"' />")}h.setImage.call(this);if(f.tristate){h.handleTriStateLevel.call(i.parent(),false)}if(d.base=="image"){switch(d.trigger){case"parent":i.parent().click(c.proxy(h.imageClick,this));break;case"self":i.next("img").click(c.proxy(h.imageClick,this));break}}else{switch(d.trigger){case"parent":i.parent().parent().click(c.proxy(h.imageClick,this));break;case"self":i.parent().click(c.proxy(h.imageClick,this));break}}}}})},transformSelect:function(f){var g={dropDownClass:"transformSelect",showFirstItemInDrop:1,acceptManualInput:0,useManualInputAsFilter:0,subTemplate:function(i){if(c(this)[0].type=="select-multiple"){return"<span><input type='checkbox' value='"+c(i).val()+"' "+(c(i).is(":selected")?"checked='checked'":"")+" name='"+c(this).attr("name").replace("_backup","")+"' />"+c(i).text()+"</span>"}else{return"<span>"+c(i).text()+"</span>"}},initValue:function(){return c(this).text()},valueTemplate:function(){return c(this).text()},ellipsisLength:null,addDropdownToBody:0};var d=c(this).data("settings"),h={init:function(){var m=this,q=c(m),j=0,k=q.find("option:first");q.hide();if(q.find("option:selected").length&&m.type!="select-multiple"){k=q.find("option:selected");j=q.find("option").index(k)}var o="<ul class='"+d.dropDownClass+" trans-element'><li>";if(d.acceptManualInput&&!b){var p=q.data("value")||d.initValue.call(k);o+="<ins></ins><input type='text' name='"+q.attr("name").replace("_backup","")+"' value='"+p+"' />";if(q.attr("name").indexOf("_backup")<0){q.attr("name",q.attr("name")+"_backup")}}else{if(d.ellipsisLength){o+='<span title="'+k.text()+'">'+c.simpleEllipsis(d.initValue.call(k),d.ellipsisLength)+"</span>"}else{o+="<span>"+d.initValue.call(k)+"</span>"}}o+="<ul style='display: none;'>";q.children().each(function(r){if(!r&&!d.showFirstItemInDrop){}else{o+=h[this.tagName=="OPTION"?"getLIOptionChild":"getLIOptgroupChildren"].call(m,this)}});o+="</ul></li></ul>";var l=c(o),n=l.find("ul li:not(.group)"),i=l.find("input");q.after(l);if(q.is(":disabled")){h.disabled.call(m,1)}if(m.type=="select-multiple"&&!b){if(q.attr("name")&&q.attr("name").indexOf("_backup")==-1){q.attr("name",q.attr("name")+"_backup")}n.click(h.selectCheckbox)}else{n.click(h.selectNewValue);i.click(h.openDrop).keydown(function(r){if(c.inArray(r.which,[9,13])>=0){h.closeAllDropdowns()}}).prev("ins").click(h.openDrop)}if(d.useManualInputAsFilter){i.keyup(h.filterByInput)}l.find("span:first").click(h.openDrop);l.find("ul:first").data("trans-element",l).addClass("transformSelectDropdown");l.data("trans-element-drop",l.find("ul:first"));if(d.addDropdownToBody){l.find("ul:first").appendTo("body")}c("html").unbind("click.transformSelect").bind("click.transformSelect",h.closeDropDowns);if(c.hotkeys&&!c("body").data("trans-element-select")){c("body").data("trans-element-select",1);c(document).bind("keydown","up",function(u){var t=c(".trans-focused"),s,r;if(!t.length||t.find("input").length){return 0}s=t.prevAll("select").first();r=s[0].selectedIndex-1;if(r<0){r=s.find("option").length-1}h.selectIndex.call(s,r);return 0}).bind("keydown","down",function(u){var t=c(".trans-focused"),s,r;if(!t.length||t.find("input").length){return 0}s=t.prevAll("select").first();r=s[0].selectedIndex+1;if(r>s.find("option").length-1){r=0}h.selectIndex.call(s,r);return 0})}if(b){if(!d.showFirstItemInDrop){q.find("option:first").remove()}q.appendTo(l.find("li:first")).show().css({opacity:0,position:"absolute",width:"100%",height:"100%",left:0,top:0});l.find("li:first").css({position:"relative"});q.change(h.mobileChange)}},getUL:function(){return b?c(this).closest("ul"):c(this).next(".trans-element:first")},getSelect:function(i){return b?i.find("select"):i.prevAll("select:first")},disabled:function(i){h.getUL.call(this)[i?"addClass":"removeClass"]("disabled")},repaint:function(){var i=h.getUL.call(this);i.data("trans-element-drop").remove();i.remove();h.init.call(this)},filterByInput:function(){var m=c(this),l=m.val().toLowerCase(),k=m.closest("ul"),j=k.data("trans-element-drop"),i=j.find("li");if(!l){i.show()}else{i.each(function(){var n=c(this);if(!!n.data("settings").alwaysvisible){n.show()}else{n[n.text().toLowerCase().indexOf(l)<0?"hide":"show"]()}})}},selectIndex:function(k){var i=c(this),l=h.getUL.call(this),j=l.data("trans-element-drop");try{j.find("li").filter(function(){}).first().trigger("click");return c(this).text()==i.find("option").eq(k).text()}catch(m){}},selectValue:function(l){var i=c(this),k=h.getUL.call(this),j=k.data("trans-element-drop");h.selectIndex.call(this,i.find(l?"option[value='"+l+"']":"option:not([value])").index())},getLIOptionChild:function(k){var j=c(k).attr("data-settings")||"",i=(c(k).attr("class")||"")+(c(k).is(":selected")?" selected":"");return"<li data-settings='"+j+"' class='"+i+"'>"+d.subTemplate.call(this,c(k))+"</li>"},getLIOptgroupChildren:function(j){var k=this,i="<li class='group'><span>"+c(j).attr("label")+"</span><ul>";c(j).find("option").each(function(){i+=h.getLIOptionChild.call(k,this)});i+="</ul></li>";return i},getLIIndex:function(j){var i=0,l=j.closest(".group"),k;if(l.length){i=j.closest(".transformSelectDropdown").find("li").index(j)-l.prevAll(".group").length-1}else{i=j.parent().find("li").index(j)-j.prevAll(".group").length}if(!d.showFirstItemInDrop){i+=1}return i},selectNewValue:function(){var m=c(this),l=m.closest(".transformSelectDropdown"),k=l.data("trans-element"),i=h.getSelect(k),j=h.getLIIndex(m);i[0].selectedIndex=j;if(k.find("input").length){k.find("input").val(d.valueTemplate.call(m))}else{sel=i.find("option:selected");k.find("span:first").html(d.ellipsisLength?c.simpleEllipsis(d.valueTemplate.call(sel),d.ellipsisLength):d.valueTemplate.call(sel))}l.find(".selected").removeClass("selected");m.addClass("selected");h.closeAllDropdowns();i.trigger("change");c(".trans-element").removeClass("trans-focused");k.addClass("trans-focused");if(c.fn.validate&&i.closest("form").length){i.valid()}},mobileChange:function(){var i=c(this),j=h.getUL.call(this),k=i.find("option:selected");if(this.type!="select-multiple"){j.find("span:first").html(d.ellipsisLength?c.simpleEllipsis(d.valueTemplate.call(k),d.ellipsisLength):d.valueTemplate.call(k))}},selectCheckbox:function(n){var l=c(this),i=l.closest(".transformSelectDropdown"),j=i.data("trans-element"),o=h.getSelect(j),q=l.closest("li"),k=q.find(":checkbox"),m,p;if(c(n.target).is("li")){q=l}m=h.getLIIndex(q);if(!c(n.target).is(":checkbox")){k.prop("checked",!k.is(":checked"))}o.find("option").eq(m).prop("selected",k.is(":checked"));if(k.data("tfc.init")){k.transformCheckbox("setImage")}if(!c(n.target).is(":checkbox")){k.change()}o.change()},openDrop:function(){var j=c(this).closest(".trans-element"),i=j.data("trans-element-drop"),k=c(this).parent();if(j.hasClass("disabled")){return 0}if(k.hasClass("open")&&!c(this).is("input")){h.closeAllDropdowns()}else{k.css({"z-index":1200}).addClass("open");i.css({"z-index":1200}).show();h.hideAllOtherDropdowns.call(this)}if(d.addDropdownToBody){i.css({position:"absolute",top:k.offset().top+k.outerHeight(),left:k.offset().left})}},hideAllOtherDropdowns:function(){var j=c("body").find("*"),i=j.index(c(this).parent());c("body").find("ul.trans-element").each(function(){var k=c(this).data("trans-element-drop");if(i-1!=j.index(c(this))){k.hide().css("z-index",0).parent().css("z-index",0).removeClass("open")}})},closeDropDowns:function(i){if(!c(i.target).closest(".trans-element").length){h.closeAllDropdowns()}},closeAllDropdowns:function(){c("ul.trans-element").each(function(){c(this).data("trans-element-drop").hide();c(this).find("li:first").removeClass("open")}).removeClass("trans-focused")}};if(typeof f=="string"){h[f].apply(this,Array.prototype.slice.call(arguments,1));return this}return this.each(function(){var i=c(this);if(!i.data("tfs.init")){d=c.extend(g,f);i.data("settings",d);i.data("tfs.init",1);h.init.call(this)}})},transformFile:function(d){var f={file:function(h,g){return this.each(function(){var l=c(this),k=c("<div></div>").appendTo(l).css({position:"absolute",overflow:"hidden","-moz-opacity":"0",filter:"alpha(opacity: 0)",opacity:"0",zoom:"1",width:l.outerWidth()+"px",height:l.outerHeight()+"px","z-index":1}),o=0,m,j=function(){var q=m=k.html("<input "+(window.FormData?"multiple ":"")+'type="file" style="border:none; position:absolute">').find("input");o=o||q.width();q.change(function(){q.unbind("change");j();h(q[0])})},i=function(q){k.offset(l.offset());if(q){m.offset({left:q.pageX-o+25,top:q.pageY-10});p()}},p=function(){l.addClass(g+"MouseOver")},n=function(){l.removeClass(g+"MouseOver")};j();l.mouseover(i);l.mousemove(i);l.mouseout(n);i()})}};return this.each(function(k){if(!c(this).data("tff.init")){c(this).data("tff.init",1);var l=c(this).hide(),m=null,j=l.attr("name"),g=(!d?"customInput":(d.cssClass?d.cssClass:"customInput")),h=(!d?"Browse...":(d.label?d.label:"Browse..."));if(!l.attr("id")){l.attr("id","custom_input_file_"+(new Date().getTime())+Math.floor(Math.random()*100000))}m=l.attr("id");l.after('<span id="'+m+'_custom_input" class="'+g+'"><span class="inputPath" id="'+m+'_custom_input_path">&nbsp;</span><span class="inputButton">'+h+"</span></span>");f.file.call(c("#"+m+"_custom_input"),function(i){i.id=m;i.name=j;c("#"+m).replaceWith(i).removeAttr("style").hide();c("#"+m+"_custom_input_path").html(c("#"+m).val().replace(/\\/g,"/").replace(/.*\//,""))},g)}})},transformTextarea:function(f,d){var h={hiddenTextareaClass:"hiddenTextarea"},g=c.extend(h,f),i={init:function(){var k=c(this);if(k.css("line-height")=="normal"){k.css("line-height","12px")}var j={"line-height":k.css("line-height"),"font-family":k.css("font-family"),"font-size":k.css("font-size"),border:"1px solid black",width:k.width(),"letter-spacing":k.css("letter-spacing"),"text-indent":k.css("text-indent"),padding:k.css("padding"),overflow:"hidden","white-space":k.css("white-space")};k.css(j).keyup(i.keyup).keydown(i.keyup).bind("mousewheel",i.mousewheel).after(c("<div />")).next().addClass(g.hiddenTextareaClass).css(j).css("width",k.width()-5).hide()},mousewheel:function(l,m){l.preventDefault();var k=c(this).css("line-height"),j=c(this)[0].scrollTop+(parseFloat(k)*(m*-1));i.scrollToPx.call(this,j)},keyup:function(j){if(c.inArray(j.which,[37,38,39,40])>=0){i.checkCaretScroll.call(this)}else{i.checkScroll.call(this,j.which)}i.scrollCallBack.call(this)},checkCaretScroll:function(){var j=c(this),m=j.caret().start,k=j.val(),q=j.scrollTop(),n=parseInt(j.css("line-height")),o=k.substr(0,m),p=k.substr(m),l=j.next("."+g.hiddenTextareaClass),r;if(m){if(k.substr(m-1,1)=="\n"){o=k.substr(0,m+1)}i.toDiv.call(this,0,o,p);if(l.height()>(j.height()+q)){r=q+n}else{if(l.height()<=q){r=q-n}}if(r){i.scrollToPx.call(this,r)}}},checkScroll:function(m){var q=c(this),j=q.next("."+g.hiddenTextareaClass),o=q.caret().start,l=q.val(),n=l.substr(0,o),k=l.substr(o);i.toDiv.call(this,1,n,k);if((q.scrollTop()+q.height())>j.height()){return}if(j.data("old-height")!=j.data("new-height")){var p=j.data("new-height")-j.data("old-height");i.scrollToPx.call(this,q.scrollTop()+p)}},toDiv:function(p,l,n){var j=c(this),m=j.next("."+g.hiddenTextareaClass),k=/\n/g,q=/\s\s/g,u=/\s/g,o=j.val(),r=0,s=0,t="<br />";if(l){o=l}if(k.test(o.substring(o.length-1))){r=1}if(k.test(o.substring(o.length-2,o.length-1))&&u.test(o.substring(o.length-1))){s=1}if(p){m.data("old-height",m.height())}o=o.replace(k,"<br>").replace(q,"&nbsp; ").replace(q,"&nbsp; ").replace(/<br>/ig,t);m.html(o);if((r||s)&&c.trim(n)){if(s&&c.browser.msie){m.append(t)}m.append(t)}if(p){m.data("new-height",m.height())}},scrollToPercentage:function(l){if(l>=0&&l<=100){var n=c(this),j=n.next("."+g.hiddenTextareaClass),m=parseFloat(n[0].scrollHeight)-n.height(),k=m*l/100;i.scrollToPx.call(this,k)}},scrollToPx:function(j){var k=this;c(k).scrollTop(i.roundToLineHeight.call(k,j));i.scrollCallBack.call(k)},roundToLineHeight:function(k){var j=parseInt(c(this).css("line-height"));return Math.ceil(k/j)*j},remove:function(){c(this).unbind("keyup").css({overflow:"auto",border:""}).next("div").remove()},scrollCallBack:function(){var n=this,k=c(n),m=k[0],l=parseFloat(m.scrollHeight)-k.height(),j=parseFloat(m.scrollTop)/l*100;j=j>100?100:j;j=j<0?0:j;j=isNaN(j)?100:j;k.trigger("scrollToPx",[m.scrollTop,j])}};if(typeof f=="string"){i[f].call(this,d);return this}return this.each(function(){if(!c(this).next().hasClass(g.hiddenTextareaClass)){i.init.call(this);i.toDiv.call(this,1)}})}});c.fn.transformRadio=c.fn.transformCheckbox})(jQuery);

/*
 * responsive-carousel autoplay extension
 * https://github.com/filamentgroup/responsive-carousel
 *
 * Copyright (c) 2012 Filament Group, Inc.
 * Licensed under the MIT, GPL licenses.
 */

(function( $, undefined ) {
  var pluginName = "carousel",
    initSelector = "." + pluginName,
    interval = 8000,
    autoPlayMethods = {
      play: function(){
        var $self = $( this ),
          intAttr = $self.attr( "data-interval" ),
          thisInt = parseFloat( intAttr ) || interval;
        return $self.data(
          "timer", 
          setInterval( function(){
            $self[ pluginName ]( "next" );
          },
          thisInt )
        );
      },
      
      stop: function(){
        clearTimeout( $( this ).data( "timer" ) );
      },
      
      _bindStopListener: function(){
        return $(this).bind( "mousedown", function(){
          $( this )[ pluginName ]( "stop" );
        } );
      },
      
      _initAutoPlay: function(){
        var autoplay = $( this ).attr( "data-autoplay");
        if( autoplay === true || ( autoplay !== null && autoplay !== false ) ){
          $( this )
            [ pluginName ]( "_bindStopListener" )
            [ pluginName ]( "play" );
        }
      }
    };
      
  // add methods
  $.extend( $.fn[ pluginName ].prototype, autoPlayMethods ); 
  
  // DOM-ready auto-init
  $( document ).on( "create." + pluginName, initSelector, function(){
    $( this )[ pluginName ]( "_initAutoPlay" );
  } );

}(jQuery));

jQuery(function($){

  $('html').removeClass('hello world');
                    
  /* Placeholder JS */
  /*==========================*/

  $('[placeholder]').each(function(){
    if ($(this).val() === '') {
      var hint = $(this).attr('placeholder');
      $(this).val(hint).addClass('hint');
    }
  });

  $('[placeholder]').focus(function() {
    if ($(this).val() === $(this).attr('placeholder')) {
      $(this).val('').removeClass('hint');
    }
  }).blur(function() {
    if ($(this).val() === '') {
      $(this).val($(this).attr('placeholder')).addClass('hint');
    }
  });                    

  /* Form validation JS */
  /*==========================*/

  $('input.error, textarea.error').focus(function() {
    $(this).removeClass('error');
  });

  $('form :submit').click(function() {
    $(this).parents('form').find('input.hint, textarea.hint').each(function() {
      $(this).val('').removeClass('hint');
    });
    return true;
  });

  /* Navicon Animation Classes */
  /*===========================*/

  $('.nav-title').click(function() {
    var navicon = $(this).children().children('.lines-button');
    var menu = $(this).parent().children('.nav');

    if (navicon.hasClass('close')){
      navicon.removeClass('close');
      $('.sub-nav').removeClass('menu-open');
      $('.has-dropdown').removeClass('submenu-open');
    }else{
      navicon.addClass('close');
    }

    if (menu.hasClass('menu-open')){
      menu.removeClass('menu-open');
    }else{
      menu.addClass('menu-open');
    }
  });

  /* Open & Close Main Nav */
  /*=======================*/
  $('.has-dropdown>a').click(function(){
    if ($(window).width() < 928) {
      event.preventDefault();

      var subMenu = $(this).parent().children('.sub-nav');

      if (subMenu.hasClass('menu-open')){
        subMenu.removeClass('menu-open');
        subMenu.parent().removeClass('submenu-open');
      }else{
        // clearing classes from everything else before opening the one clicked
        $('.sub-nav.menu-open').removeClass('menu-open');
        $('.submenu-open').removeClass('submenu-open');

        subMenu.addClass('menu-open');
        subMenu.parent().addClass('submenu-open');
      }
    }
  });

  /* Open & Close Product Details */
  /*==============================*/
  function slideOpenOrClosed (block) {
    var totalHeight = 0;

    block.children().each(function() {
      totalHeight = totalHeight + $(this).outerHeight(true);
    });

    console.log(totalHeight);

    if (!block.hasClass('open')){
      $('.open').css('height', '4em');
      $('.open').removeClass('open');
      
      block.addClass('open');
      block.css('height', totalHeight);
    }
  }

  $('.prod-info-title').click(function(){
    var block = $(this).parent();

    slideOpenOrClosed(block);
  });

  $(window).bind("load", function() {
    slideOpenOrClosed($('#description'));
  });

  /* Dynamically change size of product names */
  /*==========================================*/
  function dynamicTruncate () {
    $('.prod-name').each(function() {
      var wrapHeight = $(this).height();
      var textHeight = $(this).children('.height-check').height();

      // the +1 is just for possible rounding errors
      if (wrapHeight < textHeight + 1){
        $(this).children().css('line-height', '100%');
      }else{
        $(this).children().css('line-height', '300%');
      }
    });
  }

  $(window).bind("load", function() {
    dynamicTruncate();
  });

  $( window ).resize( dynamicTruncate );

  /* Init Chosen */
  /*==========================================*/
  $('.single-option-selector').transformSelect();
  $('.transform-select').transformSelect();

});
